  @font-face {
    font-family: QolorBold;
    src: url(appfont2_bold.ttf);
  }
  @font-face {
    font-family: Qolor;
    src: url(appfont2_regular.ttf);
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Qolor;
}

.nav{
  height: 100px;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background:#16C95F;
  position:fixed;
  z-index:2;
  top:0;
  left:0;
}
.logo{
  height:75px;
  width:75px;
}
.apklogo{
  height:350px;
  width:350px;
}


.nav .links{
  height:75px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: right;
  margin-right:20px;
}
ul{
   height:75px;
  width:100%;
  background:transparent;
  display:flex;
  align-items: center;
  justify-content: right;
  list-style: none;
}
ul li a{
  color:white;
  margin-left:15px;
  font-size:20px;
  font-weight:bold;
  text-decoration: none;
  cursor:pointer;
  font-family:"Times New Roman";
  position:relative;
  text-align:center;
}
ul li a::before{
  content:" ";
  background:#16C95F;
  height:3px;
  width:0;
  position:absolute;
  bottom:-3px;
  left:0;
  transition: 1.5s;
}

.nav .links ul li a:hover::before{
  width:100%;
}
.mobile_links{
  height:100vh;
  width:100%;
  background:#011e2c;
  display:flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  z-index:1;
  top:-100vh;
  right:0;
  transition: .5s;
}
.mobile_links ul{
  height:400px;
  width:100%;
  background:#011e2c;
  display:inline;
  align-items:center;
  justify-content:space-between;
  list-style: none;
}

.mobile_links ul li{
  text-align:center;
  width:100%;
  margin-bottom: 15px;
}

.mobile_links ul li a{
  color:white;
  margin-left:15px;
  font-size:20px;
  font-weight:bold;
  text-decoration: none;
  cursor:pointer;
  font-family:Qolor;
  position:relative;
  text-align:center;
  margin-bottom:15px;
  width:100%;
}
.mobile_links ul li a::before{
  content:" ";
  background:green;
  height:3px;
  width:0;
  position:absolute;
  bottom:-3px;
  left:0;
  transition: 1.5s;
}

.mobile_links ul li a:hover::before{
  width:100%;
}

.menu_icon{
  font-size:30px;
  font-weight:bold;
  color:white;
  margin-right:15px;
  display:none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top:100px;
    box-sizing: border-box;
background: #021E22;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.banner {
    background: linear-gradient(0deg,#072001,#010304,#021E22);
    padding: 2em 0;
    text-align: center;
  height:65vh;
  
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner .btn-primary {
    background: #4CAF50;
    color: #fff;
    padding: 0.5em 2em;
    text-decoration: none;
    border-radius: 5px;
}

.promo {
    background: #ffeb30;
    text-align: center;
  height:20vh;
  background:#072001;
  display:inline-block;
  width:100%;
  
}
.promo .container{
  height:15vh;
  background:#072001;
  width:100%;
}
.promo .container h2, .promo .container p{
  color:white;
}


.promo a{
    background:#28CC03;
    color: white;
    text-decoration: none; 
  font-size:25px;
  text-align:center;
  line-height:45px;
  font-weight:bold;
  font-family:QolorBold;
  border-radius: 50px;
  position:fixed;
  z-index:100000001;
  bottom:65px;
  left:50%;
  height:45px;
  width:75%;
  transform: translateX(-50%);
  animation:shake .3s linear infinite;
  transition:3s ease in;
    
}
@keyframes shake{
  0%{
    left:50%;
  }
  50%{
    left:51%;
  }
  100%{
    left:50%;
  }
}

footer {
    background: #FFE500;
    color: #fff;
    text-align: center;
  width:100%;
  height:65px;
}
footer .container{
  height:65px;
  width:100%;
  background:#012529;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

h1{
  color:white;
  font-size:30px;
}
.banner .container p{
  color:aqua;
}
.desktop{
  display:block;
}
.desktop{
  height:100vh;
  width:100%;
  display:inline;
  position:fixed;
  left:0;
  top:0;
  z-index: 100000;
  background:#16C95F;
  text-align: center;
}
.desktop div{
  height:500px;
  width:100%;
  background:transparent;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0  5rem;
}
.desktop div img{
  height:200px;
  width:200px;
  border-radius: 50%;
}
.desktop  h1{
  font-size:55px;
  text-align:center;
  color:aqua;
  font-weight: bold;
  font-family:QolorBold;
}
.desktop  p{
  margin-top:40px;
  font-size:35px;
  text-align:center;
  color:aqua;
  font-weight: bold;
  font-family:Qolor;
}



