*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'sans-serif';
}
#container{
  height:100vh;
  width:100%;
  background:#011e2c;
}
body{
  background:#011e2c;
}
.nav{
  height: 100px;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background:#012529;
  position:fixed;
  z-index:2;
  top:0;
  left:0;
}
.logo{
  height:75px;
  width:75px;
}
.apklogo{
  height:350px;
  width:350px;
  margin-top:150px;
}
#image{
  height: 75px;
  width:35%;
  display: flex;
  justify-content:left;
  align-items: center;
  background:transparent;
  margin-left:7px;
}
#image span{
  font-size:30px;
  color:white;
  height:25px;
  line-height: 30px;
  
}

.nav .links{
  height:75px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: right;
  margin-right:20px;
}
ul{
   height:75px;
  width:100%;
  background:transparent;
  display:flex;
  align-items: center;
  justify-content: right;
  list-style: none;
}
ul li a{
  color:white;
  margin-left:15px;
  font-size:20px;
  font-weight:bold;
  text-decoration: none;
  cursor:pointer;
  font-family:"Times New Roman";
  position:relative;
  text-align:center;
}
ul li a::before{
  content:" ";
  background:#16C95F;
  height:3px;
  width:0;
  position:absolute;
  bottom:-3px;
  left:0;
  transition: 1.5s;
}

.nav .links ul li a:hover::before{
  width:100%;
}
.mobile_links{
  height:100vh;
  width:100%;
  background:#011e2c;
  display:flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  z-index:1;
  top:-100vh;
  right:0;
  transition: .5s;
}
.mobile_links ul{
  height:400px;
  width:100%;
  background:#011e2c;
  display:inline;
  align-items:center;
  justify-content:space-between;
  list-style: none;
}

.mobile_links ul li{
  text-align:center;
  width:100%;
  margin-bottom: 15px;
}

.mobile_links ul li a{
  color:white;
  margin-left:15px;
  font-size:20px;
  font-weight:bold;
  text-decoration: none;
  cursor:pointer;
  font-family:"Times New Roman";
  position:relative;
  text-align:center;
  margin-bottom:15px;
  width:100%;
}
.mobile_links ul li a::before{
  content:" ";
  background:#16C95F;
  height:3px;
  width:0;
  position:absolute;
  bottom:-3px;
  left:0;
  transition: 1.5s;
}

.mobile_links ul li a:hover::before{
  width:100%;
}

.menu_icon{
  font-size:30px;
  font-weight:bold;
  color:white;
  margin-right:15px;
  display:none;
}

header .download_section {
  height:500px;
  width:100%;
    background:#011e2c;
    color: white;
    padding: 20px 0;
    text-align: center;
  display:inline-block;
  position:relative;
  padding-top:30px;
}

header h1 {
  margin-top:50px;
    margin-bottom: 50px;
  font-size:60px;
  font-family: 'serif';
 color: #2196F3;
}
header h1 span:nth-child(1){
  font-size:60px;
  font-family: 'serif';
  color: #28CC03;
}
header h1 span:nth-child(2){
  font-size:60px;
  font-family: 'serif';
  color: red;
}
header h1 span:nth-child(3){
  font-size:60px;
  font-family: 'serif';
  color: orange;
}
header h1 span:nth-child(4){
  font-size:60px;
  font-family: 'serif';
  color:skyblue ;
}
header h1 span:nth-child(5){
  font-size:60px;
  font-family: 'serif';
  color:whitesmoke;
}


header p {
    margin-bottom: 60px;
  font-size:18px;
}

.download-buttons a {
    display: inline-block;
    margin: 0 10px;
}

.download-buttons img {
    width: 250px;
  border-radius:10px;
  display:flex;
  justify-content: space-between;
}


footer .container{
    background: #012529;
    color: white;
    padding: 10px 0;
    text-align: center;
  height:auto;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

#desktop{
  display:block;
}

#desktop{
  height:100vh;
  width:100%;
  background:red;
  z-index:100000;
  position:fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#desktop .desk_logo{
  height:100vh;
  width:100%;
  background: black;
  display: inline;
  justify-content: center;
  align-items:center;
  color:white;
  text-align:center;
  padding-top:45%;
}
.desk_logo img{
  height:300px;
  width:300px;
  margin-bottom: 100px;
  
}
.desk_logo h1{
  font-size:60px;
  font-weight: bold;
  font-family:serif;
  
}
#desktop{
  display:block;
}

#desktop{
  height:100vh;
  width:100%;
  background:red;
  z-index:100000;
  position:fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#desktop .desk_logo{
  height:100vh;
  width:100%;
  background: black;
  display: inline;
  justify-content: center;
  align-items:center;
  color:white;
  text-align:center;
  padding-top:45%;
}
.desk_logo img{
  height:300px;
  width:300px;
  margin-bottom: 100px;
  
}
.desk_logo h1{
  font-size:60px;
  font-weight: bold;
  font-family:serif;
  
}
